<div class="bg-light-gray section" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <div>
        <h1>Who am I?</h1>
    </div>
    <div class="capsule-container">
        <div class="capsule" [mdcElevation]="12">
            <p subtitle1 class="headnote">
                <strong>You can call me Éme Arcángel Quintero-Macias</strong>, or Em for short.
            </p>
            <p subtitle1>
                <strong>I'm a software developer</strong> with professional experience in full-stack web development, mobile development and DevOps.
                <span fxHide fxShow.lt-sm>
                    <br><br>
                </span>
                Born in the grand city of Guadalajara, Mexico. <strong>I'm proudly</strong>, <em>gender-nonconforming</em> and <em>Mexican</em>.
            </p>
            <p subtitle1 class="footnote">
                <strong>Looking forward to meeting you!</strong>
            </p>
        </div>
    </div>
</div>